.Favorite {
    border: 2px solid red;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    position: absolute;
    right: 20px;
    top: 10px;
}