#root {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  background-color: #FFFFFF;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.App-logo {
  height: 60px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(6px);
  }

  100% {
    transform: translateY(0px);
  }
}

main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  column-gap: 10px;
  row-gap: 50px;
  width: 90%;
  max-width: 1140px;
  margin: 50px auto 0;
}